{% extends "base.html" %}

{% block title %}
Homepage - {{ block.super }}
{% endblock title %}

{% block header %}
This is the Homepage!
{% endblock header %}

{% block content %}
<form method="GET">
    <input name="search" value="{{ search }}">
    <input type="submit" value="Search">
</form>
<hr>
<ul>
    {% for thing in things %}
    <li>
        <h2>
            <a href="{% url "detail_view" thing.slug %}">{{ thing.name }}</a>
        </h2>
        <p>
            {{ thing.description }}
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}